/* LAYOUT */
#container{
  background: #FF1600;
  width: 1000px;
  margin: 0 auto 0 auto;
}

header{
  background: #C9C9C9;
}

header li{
  display: inline-block;
}

#logo{
  width: 300px;
  float: left;
  background: url('images/DCL_logo325.jpg') 
}

#nav_links{
width: 700px;
  float: left;
}

#main_picture{
  background: #666666;
}

#headline{
  background: #1D9A24;
}

#video{
  background: #A4A0B4;
}

#map{
  background: #FFF;
}

#article{
  background: #A4A0B4;
}

#customers{
  background: #FFF;
}

#endorsements{
  background: #FFF;
}

#request{
  background: #25ADB6;
}

footer{
  background: #750999;
}